.navbarItems {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 85px;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: visibility 0s linear 0s, opacity 300ms;
  visibility: visible;
  width: 100%;
  z-index: 1;
}

.navbarItems.hidden {
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  visibility: hidden;
}

.navbarLogo {
  color: var(--white);
  cursor: pointer;
  justify-self: start;
  margin-bottom: 0;
  margin-left: 20px;
}

.navMenu {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
  justify-content: end;
  list-style: none;
  margin-bottom: 0;
  margin-right: 2rem;
  text-align: center;
  width: 70vw;
}

.navLinks {
  color: var(--white);
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.listItem {
  display: none;
}

.menuIcon {
  color: var(--white);
  display: none;
}

.navLinksMobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbarItems {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    height: 500px;
    left: -100%;
    opacity: 1;
    position: absolute;
    top: 80px;
    transition: all 0.5s ease;
    width: 100%;
  }

  .menuActive {
    background: var(--black);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navLinks {
    display: table;
    padding: 2rem;
    text-align: center;
    width: 100%;
  }

  .navbarLogo {
    display: flex;
    align-items: center;
  }

  .menuIcon {
    cursor: pointer;
    display: block;
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100%, 60%);
  }

  .navLinksMobile {
    border-raduis: 4px;
    display: block;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
    width: 80%;
  }

  .contactButton {
    display: none;
  }

  .listItem {
    display: block;
  }
}
