.navbar {
  background-color: #141416;
  color: white;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.navbar.hidden {
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  visibility: hidden;
}

.navLinks a {
  color: #fff !important;
}

.logoWrapper {
  padding: 0;
}

.logoWrapper > div {
  display: block !important;
}
