{
  "env":{
    "jest":true,
    "mocha":true,
    "node":true
  },
  "extends":[
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:lodash/canonical",
    "plugin:prettier/recommended"
  ],
  "plugins":[
    "jest",
    "jsdoc",
    "json",
    "lodash",
    "prettier"
  ],
  "rules":{
    "arrow-body-style":[
      "error",
      "as-needed"
    ],
    "func-names":"error",
    "global-require":"error",
    "id-length":[
      "error",
      {
        "exceptions":[
          "_",
          "i",
          "j"
        ],
        "min":2,
        "properties":"never"
      }
    ],
    "import/export":"error",
    "import/first":"warn",
    "import/no-anonymous-default-export":[
      "error",
      {
        "allowObject":true
      }
    ],
    "import/no-extraneous-dependencies":[
      "error",
      {
        "devDependencies":true
      }
    ],
    "import/order":[
      "error",
      {
        "groups":[
          [
            "builtin",
            "external"
          ],
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "newlines-between":"always"
      }
    ],
    "import/prefer-default-export":"warn",
    "jsdoc/check-param-names":"error",
    "jsdoc/check-tag-names":"error",
    "jsdoc/check-types":"error",
    "jsdoc/newline-after-description":"error",
    "jsdoc/require-description-complete-sentence":"error",
    "jsdoc/require-hyphen-before-param-description":"error",
    "jsdoc/require-param":"error",
    "jsdoc/require-param-description":"error",
    "jsdoc/require-param-type":"error",
    "jsdoc/require-returns-description":"error",
    "jsdoc/require-returns-type":"error",
    "lodash/chaining":[
      "error",
      "always"
    ],
    "lodash/prefer-constant":[
      "error",
      false
    ],
    "lodash/prefer-lodash-method":[
      "error",
      {
        "ignoreMethods":[
          "find",
          "startsWith"
        ]
      }
    ],
    "lodash/prefer-over-quantifier":"off",
    "new-parens":"error",
    "no-alert":"error",
    "no-console":"error",
    "no-mixed-operators":[
      "error",
      {
        "allowSamePrecedence":true
      }
    ],
    "no-underscore-dangle":[
      "error",
      {
        "allow":[
          "__config",
          "__setMockValues"
        ]
      }
    ],
    "prettier/prettier":[
      "error",
      {
        "printWidth":120,
        "singleQuote":true,
        "trailingComma":"all"
      }
    ],
    "sort-keys":[
      "warn",
      "asc",
      {
        "caseSensitive":true,
        "natural":false
      }
    ]
  },
  "settings":{
    "lodash":{
      "version":4
    }
  }
}