.link {
  color: red;
}

.largeBordered {
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  letter-spacing: 1px;
  padding: .5rem 1rem;
  text-decoration: none;
}

.largeBordered:hover,
.largeBordered:focus {
  background: #fe6700;
  border-color: #fe6700;
  color: #ffffff;
  transition: background-color .25s ease-out,color .25s ease-out;
}