.pageWrapper {
  width: 100%;
  padding: 100px 0;
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.pageContainer {
  padding: 1.5rem;
  background-color: white;
  max-width: 970px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 1rem;
}
