.pageWrapper {
  width: 100%;
  padding: 100px 0;
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.pageContainer {
  padding: 1.5rem;
  background-color: var(--white);
  max-width: 970px;
  margin: 0 auto;
}

.pageContainer h1 {
  color: var(--dark-grey);
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  padding: 1rem;
  margin-bottom: 1rem;
}

.form label {
  display: none;
}

.submit {
  align-self: flex-start;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
