@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #141316 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--orange);
}

p,
li {
  color: var(--light-grey);
}

p {
  line-height: 1.7rem;
}
