.homeContainer {
  background-color: #141316;
  display: flex;
  margin: -150px auto 0 auto;
  max-width: 1300px;
  position: relative;
  z-index: 2;
}

.hero {
  height: 600px;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 100px;
}

.leftPanel {
  max-width: 450px;
  padding: 24px;
}

.servicesContainer {
  margin-top: -100px;
}
