.pageWrapper {
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.homeContainer {
  background-color: #141316;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
  z-index: 2;
}

.hero {
  height: 0;
  height: 380px;
  margin: 0 auto;
  max-width: 1300px;
  padding-bottom: 40%;
  padding-top: 100px;
  width: 100%;
}

.leftPanel {
  max-width: 450px;
  padding: 24px;
}

@media only screen and (min-width: 700px) {
  .homeContainer {
    flex-direction: row;
    margin: -150px auto 0 auto;
  }

  .servicesContainer {
    margin-top: -100px;
  }
}
